<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Counter</title>
    <style>
        * {
            font-family: sans-serif;
        }
        a:link, a:visited {
            text-decoration: none;
            border: 2px solid black;
            padding: 10px;
            color: white;
            margin-left: 370px;
            background-color: lightcoral;
            
        }
    </style>
</head>

<body>
    <h1 align="center">Counter</h1>
    <p align="center">{{ count }} times</p>
    <a href="/add">Add two times</a>
    <a href="/destroy_session">Reset</a>
</body>

</html>